* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: whitesmoke;
}
ion-icon{
  font-size: 35px;
}
.carousel-indicators > button {
  width: 1.5rem;
  /* height: 1rem; */
  /* border-radius: 50%; */
  margin: 5px;
}
.detail-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.detail-image-container{
  width: 30%;
  max-width: 500px;
  min-width: 200px;
  overflow: hidden;
  margin: 7vh 1vw 0 1vw;
  position: relative;
  transition: all .4s ease;
  box-shadow: 0 3px 10px rgb(0 0 0 /.2);
}

.detail-image-container>img{
  width: 100%;
}
.detail-image-container:hover{
  transform: scale(1.1);
}
.overlay{
position: absolute;
top:0;
width: 100%;
height: 100%;
background: rgb(255 255 255/.5);
display: flex;
justify-content: center;
align-items: center;
opacity: 0;
transition: all .5s ease;
}
.overlay:hover{
  opacity: 1;
  transform: scale(1.2);
}
.overlay > p {
 font-size: 4.4vw;
 font-family: 'Nanum Myeongjo', serif;
 color: white;
 font-weight: bold;
}
.shipping-section{
  width: 100vw;
  /* height: 15vh; */
  background-color: rgb(237, 234, 230);
  display: flex;
  justify-content: space-around;
  margin: 7vh 0 10vh 0;
  flex-wrap: wrap;
}
.info-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2vh 1vw 1vh 2vw;
  padding: 5px;
  border-top: 1px solid rgb(100 100 100 /.3);
  border-bottom: 1px solid rgb(100 100 100 /.3);
}
.info-container>h4{
  font-size: 18px;
  margin: 1vh 0 0 0;
}
.info-container>p{
  font-weight:200;
  font-size: 12px;
  color: grey;
  text-align: center;
  padding: 2px 5px;
}
.trending-title{
  text-align: center;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 3rem;
  margin-bottom: 3vh;
  width: 100%;
  border-bottom: 1px solid #bbb;
  line-height: 0.1em;
}
.trending-title span {
  background:whitesmoke;
  padding: 0 20px;
}
.discount-section{
  width: 100%;
  background-color: grey;
  position: relative;
 margin: 2vh 0 10vh 0;
}
.discount-section > img{
  width: 100%;
}
.deal-section{
  position: absolute;
  top: 5vw;
  right: 10vw;
  transition: all .2s ease;
}
.deal-title{
  font-weight: bold;
  font-size: 30px;
}
.deal-title > span{
  color: white;
  margin: 0;
}
.signup-info{
  font-size: 22px;
}
.email-sign > input {
  padding: 5px;
  width: 18rem;
  border: none;
}
.email-sign > button {
  padding: 6px 55px;
  margin-left: 10px;
  border: none;
  color:white;
  background:  rgb(120, 87, 78);

}
.contact-section{
  display: flex;
}
.contact-section > div {
  width: 50%;

}
.contact-section > div > img {
  width: 100%;
}
.form-container{
  display: flex;
}
.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.contact-form > h4 {
  margin-bottom: 4vh;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 30px;
}
.contact-form > input, textarea{
  width: 80%;
  margin: 3vh auto;
  background: transparent;
  border: none;
  border-bottom: 1px solid black;

}
.submit {
  width: 10rem;
  background: rgb(120, 87, 78);
  border: none;
  padding: 5px;
  color: white;
}
footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3vh;
  box-shadow: 0 3px 10px rgb(100 100 100 / .2);
}
.icons > p {
  cursor: pointer;
  transition: all .3s ease;
}
.icons > p:hover{
  transform: scale(1.2);
}
.sec > p {
  font-size: 12px;
  text-align: center;
  color: grey;
  cursor: pointer;
}
.trending-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2vh 4vw;
}
.container{
  width: 25%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 3vh 1vw;
  background: #a2806e3c;
  box-shadow: 0 3px 5px rgb(100 100 100 /.1);
}
.container > p {
  font-size: 20px;
  font-family: '';
  margin-top: 2vh;
  padding: 0 10px;
  border-bottom: 1px solid rgb(179, 176, 176);

}
.image-container{
  width: 100%;
}
.image-container > img {
  width: 100%;
}
.contents {
 
  width: 100%;
}
.contents > p {
  font-size: 15px;
  padding-left: 5px;
  font-family: '';
}
.stock {
  color: grey;
}
.contents > .price{
  float: right;
  padding-right: 5px;
  font-size: 22px;
}
.cart-title{
  text-align: center;
  margin: 5vh auto;
  font-size: 40px;
  font-family: '';
}
.empty-container{
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-empty{
  text-align: center;
  margin: 10vh auto;
  font-size: 20px;
  color: grey;
}
.products-heading{
  text-align: center;
  font-size: 3.5rem;
  margin: 8vh auto 10vh;
  font-family: 'Nanum Myeongjo', serif;
  background-color: white;
  padding: 15px;
}
.categories {
  font-family: '';
  width: 10%;
  position: relative;
  min-width: 85px;
  /* box-shadow: 0 3px 10px rgb(100 100 100 /.1); */
  background: whitesmoke;
  transition: all .3s ease;
}
.categories > img {
  width: 100%;
}
.categories > .overlay2{
  position: absolute;
  width: 100%;
  height: 40%;
  background-color: rgb(255 255 255 / .4);
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .3s ease;
}
.categories:hover{
  transform: scale(1.05);
}
.categories >.overlay2:hover {
  transform: scale(1.05);
}
.overlay2 > h3{
  font-size: 1.7vw;
  color: black;
  text-shadow: 0 3px 10px rgb(0 0 0 /.3);
  cursor: pointer;
}
.main-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.category-contents{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2vh 4vw;
}
.container > a{
  color: black;
  font-family: '';
  font-size: 23px;
}
.all {
  text-align: center;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 3rem;
  margin:0 0 3vh 0 ;
  width: 100%;
  border-bottom: 1px solid #bbb;
  line-height: 0.1em;
}
.all span {
  background:whitesmoke;
  padding: 0 20px;
}

@media (max-width: 1000px) {
  .deal-title{
    font-weight: bold;
    font-size: 20px;
    margin:0;
  }
  .signup-info{
    font-size: 13px;
    margin: 0;
  }
  .email-sign > input {
    width: 13rem;
  }
  .email-sign > button {
    padding: 6px 35px;
  }
  .contact-form > input, textarea{
    width: 90%;
    margin: 1vh auto;
  }
  .submit {
    width: 8rem;
  }
}
@media (max-width: 750px) {
  .contact-section{
    flex-direction: column;
  }
  .contact-section > div {
    width: 100%;
    margin-bottom: 3vh;
  }
  .overlay2 > h3{
    font-size: 17px;
  }
}
@media (max-width: 650px) {
  .detail-container{
    flex-direction: column;
  }
  
  .detail-image-container{
    width: 90%;
  }
  .info-container{
    margin: 1vh 1vw 1vh 2vw;
    border-top: none;
  }
  .last{
    border-bottom: none;
  }
  .trending-title {
    font-size: 2rem;
  }
  .deal-section{
    top: 2vh;
  }
  .deal-title{
    font-weight: bold;
    font-size: 15px;
    margin:0;
  }
  .signup-info{
    font-size: 10px;
    margin: 0;
  }
  .email-sign > input {
    width: 11rem;
    padding: 1px;
  }
  .email-sign > button {
    padding: 1px 15px;
  }
  .overlay2 > h3{
    font-size: 17px;
  }
}